<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.busproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="in.wptrafficanalyzer.locationgeocodingapiv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <application
        android:name=".Utils.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_bus2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Map.MapsActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PaymentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".CodeScannerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".VerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".PaymentActivityDialog"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <activity android:name=".Scanner3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALbq3bwvcPQWjYvenM4PZt0Sy-6-C3Ayo" />
    </application>

</manifest>